@page
@model VeloKom.Pages.AdminAuthModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<h1>Вход в панель администратора</h1>
<form method="post" class="auth-form">
    <input name="login" type="text" placeholder="Логин" />
    <input name="password" type="password" placeholder="Пароль" />
    <button type="submit">Войти</button>
</form>
@if (!ViewData.ModelState.IsValid)
{
    <div class="error-message">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
