@page
@model VeloKom.Pages.PanelModel
@{
}
<link rel="stylesheet" href="~/css/panel.css"/>
<form method="post">
	<button type="submit" name="button" value="moderate">Модерация объявлений</button>
	<button type="submit" name="button" value="users">Просмотр списка пользователей</button>
</form>